In [ ]:
## sql create table
%sql CREATE TABLE Users (
    name VARCHAR(128),
    email VARCHAR(128)
)

## insert data
%sql INSERT INTO Users (name, email) VALUES ('Kristin', 'kf@umich.edu')

## delete data
%sql DELETE FROM User WHERE email = 'ted@umich.edu'

## update
UPDATE Users SET name = 'namex' WHERE email = 'email@email.edu'

In [ ]:
# python SQLite
import sqlite3
conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('''
DROP TABLE IF EXISTS Counts''')

cur.execute('''
CREATE TABLE Counts (email TEXT, count INTEGER)'''
)

fname = raw_input('Enter file name: ')
if (len(fname) < 1): fname = 'mbox-short.txt'
fh = open (fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces = line.splite()
    email = picieces[1]
    cur.execute('SELECT count FROM Counts WHERE email = ? ', (email,))
    try:
        count = cur.fetchone()[0]
        cur.execute('UPDATE Counts SET count = count + 1 WHERE email = ? ', (email,))
    except:
        cur.execute('''INSERT INTO Counts (email, count)
        VALUES (?,1)''', (email,))
    conn.commit()


sqlstr = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10'
for row in cur.execute(sqlstr):
    print str(row[0]), row[1]

cur.close()